@import '../base';

.footer { 
  overflow: hidden;

  color: var(--color-black);
  background-color: var(--color-white);

  @include viewport-tablet-min {
    padding-top: px-to-rem(84);
    padding-bottom: px-to-rem(62);
  }

  @include viewport-phone {
    padding-top: px-to-rem(60);
    padding-bottom: px-to-rem(40);
  }
  
  //.footer__wrapper 
  &__wrapper {
    width: 100%;

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(80);
      }
      @include viewport-phone {
        margin-top: px-to-rem(50);
      }
    }
  }

  //.footer__copyright 
  &__copyright {
    font-weight: 600;
    line-height: 116%;
    font-size: px-to-rem(14);
  }

  //.footer-main 
  &-main {
    --footer-main-gap: 20px;

    width: 100%;

    @include viewport-tablet-min {
      display: flex;
      justify-content: space-between;
    }

    > * + * {
      @include viewport-phone {
        margin-top: px-to-rem(42);
      }

      &::before {
        @include viewport-tablet-min {
          content: '';
          position: absolute;
          top: 0;
          left: calc(-1 * (var(--footer-main-gap) / 2));
          transform: translateX(-50%);
          width: 1px;
          height: 100%;
  
          background-color: rgba(var(--color-black--rgb), 0.19);
        }
      }
    }

    //.footer-main__item 
    &__item {
      position: relative;
      z-index: 0;
      width: 100%;

      &:nth-child(1) {
        max-width: px-to-rem(182);
      }

      &:nth-child(2) {
        @include viewport-desktop {
          max-width: px-to-rem(452);
        }
        @include viewport-tablet {
          //max-width: px-to-rem(372);
          max-width: max-content;
        }
      }

      &:nth-child(3) {
        flex-shrink: 0;
        max-width: max-content;
      }

      > * + * {
        @include viewport-tablet-min {
          margin-top: px-to-rem(32);
        }
        @include viewport-phone {
          margin-top: px-to-rem(20);
        }
      }
    }

    //.footer-main__title 
    &__title {
      @include text-heading-4;
    }

    //.footer-main__button 
    &__button {
      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-white);
        }
      }
  
      &::before {
        background-color: var(--color-black);
      }
    }
  }

  //.footer-contacts 
  &-contacts {
    > * + * {
      margin-top: px-to-rem(18);
    }

    //.footer-contacts__item 
    &__item {
      display: flex;
      align-items: center;

      @include transition(color 0.4s);
      text-decoration: unset;
      font-weight: 700;
      line-height: 116%;
      color: var(--color-black);
      
      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-blue);
        }
      }

      > * + * {
        margin-left: px-to-rem(8);
      }
    }

    //.footer-contacts__label 
    &__label {
      flex-shrink: 0;
      width: 100%;
      max-width: px-to-rem(18);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    //.footer-contacts__text 
    &__text {
      color: currentColor;
    }
  }
  
  //.footer-navigation 
  &-navigation {
    //.footer-navigation__list 
    &__list {
      width: 100%;

      @include viewport-tablet-min {
        display: flex;
        justify-content: space-between;
      }

      > * + * {
        @include viewport-desktop {
          margin-left: px-to-rem(30);
        }

        @include viewport-tablet {
          margin-left: px-to-rem(20);
        }
        
        @include viewport-phone {
          margin-top: px-to-rem(16);
        }
      }
    }
    
    //.footer-navigation__li 
    &__li {
      width: 100%;
      
      @include viewport-desktop {
        max-width: px-to-rem(174);
      }
      @include viewport-tablet {
        max-width: px-to-rem(142);
      }
      @include viewport-phone {
        max-width: px-to-rem(174);
      }
    }
    
    //.footer-navigation__col 
    &__col {
      > * + * {
        margin-top: px-to-rem(16);
      }
    }
    
    //.footer-navigation__row 
    // &__row {
    // }
    
    //.footer-navigation__item 
    &__item {
      position: relative;
      z-index: 0;

      display: block;
      padding: px-to-rem(6);
      margin: px-to-rem(-6);

      @include transition(color 0.4s);
      text-decoration: unset;
      line-height: 116%;
      font-weight: 500;
      font-size: px-to-rem(16);
      color: var(--color-black);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-blue);
        }
      }
    }
  }
  
  //.footer-bottom 
  &-bottom {
    display: flex;
    width: 100%;

    @include viewport-tablet-min {
      align-items: center;
      justify-content: space-between;
    }

    @include viewport-phone {
      flex-direction: column;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(32);
      }
      @include viewport-phone {
        margin-top: px-to-rem(32);
      }
    }

    //.footer-bottom__item 
    // &__item {
    // }
  }
}

.develop {
  display: flex;
  align-items: center;

  text-decoration: unset;
  font-weight: 600;
  line-height: 116%;
  font-size: px-to-rem(14);
  color: var(--color-black);

  > * + * {
    margin-left: px-to-rem(6);
  }

  //.develop__text 
  &__text {
    @include transition(color 0.4s);
    color: inherit;

    @at-root .develop:hover & {
      @include non-mobile-device {
        color: var(--color-blue);
      }
    }
    @at-root .develop:focus-visible & {
      @include non-mobile-device {
        color: var(--color-blue);
      }
    }
  }
  
  //.develop__img 
  &__img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: px-to-rem(94);

    img {
      width: 100%;
      height: auto;
    }
  }
}

