section.service-about.separate-section
  ._container
    .separate-section__wrapper
      .separate-section__item
        .service-about__img
          .service-about__img__container
            img(
              src=require('@/assets/img/service-about.jpg'),
              alt='service-about',
              loading='lazy'
            )

      .separate-section__item
        .service-about__content
          h2.service-about__title Here's what our assurances include

          p.service-about__description We strive for excellence in every aspect of your customer journey, from pre-appointment to post-appointment. Our customer support is accessible round-the-clock. We stand by our work with a 90-day guarantee on all handyman installations and repairs.

          a.button-light.service-about__button(href='#') 
            span Book an appointment for service
