$colors: (
  'white': #fff,
  'black': #1a1a1a,

  'black-100': #040113,

  'grey': #f3f4f8,
  
  'blue': #5a44f5,
  'blue-100': #e8e6f9,
  'red': #f05b5b,
  
  'highlight': #feb62a,
);

@function hex-to-rgb ($hex) {
  @return red($hex), green($hex), blue($hex);
}
  
:root {
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
    --color-#{$key}--rgb: #{hex-to-rgb($value)};
  }
}

html {
  background-color: var(--color-grey);
  color: var(--color-black);
}
