.popup-info.typography
  h1 title 1
  h2 title 2
  h3 title 3
  h4 title 4
  h5 title 5
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, recusandae!
  p
    a(href='#') link
    strong strong
    i i text
    ins ins text
    blockquote blockquote
  figure
    img(src=require('@/assets/img/service-about.jpg'), alt='typography')
  ul
    li list
    li list
    li list
  ol
    li list
    li list
    li list
