.popup-feedback
  .popup-feedback__label
    img(src=require('@/assets/img/success.svg'), alt='success')

  p.popup-feedback__title Thank you!

  p.popup-feedback__subtitle= 'We will call you back in a moment :)'
