.quiz-adress
  input#adress.quiz-adress__input.required(
    name='adress',
    placeholder='Address'
  )

  textarea#adress-instruction.quiz-instruction__textarea(
    name='adress-instruction',
    placeholder='Add address instruction'
  )

  .quiz__controls
    button.button-light.quiz-prev
      span Back

    button.button-light.quiz-next
      span Continue
