.quiz-details
  textarea#details.quiz-details__textarea(
    name='details',
    placeholder='Optional'
  )

  .quiz__controls
    button.button-light.quiz-prev
      span Back

    button.button-light.quiz-next
      span Continue
