.quiz-brand
  input#brand.quiz-brand__input.required(
    type='text',
    name='brand',
    placeholder='Popular brands'
  )

  .quiz__controls
    button.button-light.quiz-prev
      span Back

    button.button-light.quiz-next
      span Continue
