.quiz-zip
  input#zip.quiz-zip__input.required(
    type='number',
    name='zip',
    placeholder='Your zip code'
  )

  .quiz__controls
    button.button-light.quiz-next
      span Book an appointment
